*{
    font-family: 'Courier Prime', monospace;
    
}   

header{
    background:#ba6c6c;
}

.logo{
     position: absolute;


   /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;*/

    /*width: 120px;
    height: 48px;*/
    width: 8.5%;
    height: 6.5%;
    margin-top: 10px;
    z-index: 9999;
    
 
}

.caja1{
    float: left;
    background: #425161;
    position: relative;
    left:240px;
    
    width: 1440px;
    height: 1024px;
    
}

.frase{
    font-size: 1.5em;
    position: absolute;
    width: 680px;
    height: 450px;
    
    top: 90px;
    left: 240px;
    border: none;
    color: #0a3871;

    /*text-transform: lowercase;*/
    resize: none;
    line-height: 150%; 

    
}

::placeholder{color: #0a3871;
}
    
.frase:focus{
        outline: none; /* que  no resalte la caja del textarea*/
}

.informacion{
    font-size: 10px;
    font-weight: bold;

    

    position: absolute;
    width: 252px;
    height: 18px;
    top: 851px;
    left: 240px;
}

.botones{
    display: flex;    
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
   

    position: absolute;
    width: 680px;
    height: 67px;
 
    top: 885px;
    left: 240px;
}

.encriptar{
    font-size: 1.5em;
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.desencriptar{
    font-size: 1.5em;
    background:#d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-left: 30px;
}

.caja2{
    
    background: #ffffff;
    position: relative;
    top: 40px;
    float:right;
    right: 280px;
    
    /*margin-top: 10px;*/
    width: 400px;
    height: 944px;
    
    
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    
}

/*.fraseEncriptada{
    
    

    background: white;
    background-image: url(imagenes/Muñeco.png);
    background-repeat: no-repeat;
    //border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
   //position: fixed;
    resize: none;

    position: absolute;
width: 336px;
height: 315px;
left: 1050px;
top: 266px;


}*/

.fraseEncriptada{
    width: 100%;
    background: white;
    background-image: url(imagenes/Muñeco.png);
    background-position: 0px 150px;
    background-repeat: no-repeat;
    border: none;

    font-size: 1.5em;
    position: absolute;
    right: 28px;
    top: 32px;
    width: 336px !important;
    height: 781px !important; 
    outline: none;    
    resize: none;
    line-height: 150%;
}
.fraseEncriptada{
    outline: none; /* que  no resalte la caja del textarea*/
}

.h3Caja{
    text-align: center;
    position: absolute;
    width: 336px;
    height: 122px;
    top: 579px;
    left: 32px;

}
.h3Caja h3{
    font-size: 2em;
    font-weight: bold;
}

.h3Caja p{
    padding-top: 10px;
    font-size: 1.5em;
}

.copiarTexto{
    /*display: none;*/
    
    width: 328px;
    height: 67px;
    position: absolute;
    top: 265px;
    left: 3px;
    
   
    
    font-size: 1.5em;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer; 

    
    /*background:#d8dfe8;*/
}

.hidden{
    display: none;
}
/*.copiarTexto{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 1032px;
    top: 885px;

    font-size: 1.5em;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;   

}*/
