*{
    font-family: 'Courier Prime', monospace;  
} 

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F3F5FC;

    align-items: flex-end;

     
}
.container{   /*contenedor padre adicional*/
    display: flex;/*establece que el contenedor padre es un contenedor flex, lo que permite a los elementos hijo dentro de él puedan adaptarse al tamaño de la pantalla y organizarse de manera flexible.*/
    flex-wrap: wrap;/*establece que los elementos hijo dentro del contenedor flex deben adaptarse al tamaño de la pantalla y, si es necesario, saltar a la siguiente línea.*/
    justify-content: space-between;/*establece cómo se alinean los elementos hijo dentro del contenedor flex. Por ejemplo, "justify-content: space-between" distribuye los elementos hijo de manera equitativa en el espacio disponible.*/
}

header{
    width: 100%;
    position: sticky;/*permite que un elemento se mantenga fijo en una posición específica de la página mientras se desplaza hacia abajo, y se comporte como un elemento "position: relative" hasta que alcanza un punto específico en la página.*/
    top: 0;
    
   
}

.logo{
    
    width: 120px;
    height: 48px;
    
   
}


main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    

    /*width: 1440px;*/
    width: 75%;
    margin: 0 auto;   
}

.caja1{
    background-color: #F3F5FC;      
    width:680px;
    height: 784px;
    position: relative;

    /*margin-top: auto;*/
    margin-bottom: 32px;     
     
}

.textarea1{
    display: flex;
    justify-content: center;
    background-color: #797979;
    width: 680px;
    height: 50%;  
}

                .frase{
                    flex-basis: 100%;    
                    font-size: 1.5em;
                    border: none;
                    margin: 0;
                    padding: 0;

                    resize: none;
                    line-height: 150%;
                    
                }

::placeholder{color: #0a3871;
}
    
.frase:focus{
        outline: none; /* que  no resalte la caja del textarea*/
}

.informacion{
    
    background-color: #F3F5FC;    
    width: 100%;
    height: 18px;    
    position: absolute;
    top: 683px;
}

                .info::first-letter{
                    color: rgb(0, 0, 0);
                    font-size: 2vw;
                }

                .info{
                    color: rgb(0, 0, 0);
                    font-size: 0.8vw;
                }



.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    
    gap: 24px;

    background-color: #F3F5FC;
    width: 680px;
    height: 67px;
    position: absolute;
    
    
    top:717px;
    
}

            .encriptar{
              
                font-size: 1.5em;
                background-color: #0a3871;
                border: 1px solid #0a3871;
                border-radius: 24px;
                color: white;
                cursor: pointer;
                height: 67px;
                width: 48.2%;/*328px;*/
            }

            .desencriptar{
                
                font-size: 1.5em;
                background:white;
                border: 1px solid #0a3871;
                border-radius: 24px;
                color: #0a3871;
                cursor: pointer;
                height: 67px;
                width: 48.2%;/*328px;*/
                
            }
                            button.encriptar:hover {
                                background-color: white;
                                border: 1px solid #0a3871;
                                color: #0a3871;
                                
                            }
                        
                            button.encriptar:hover ~ button.desencriptar {
                                background-color: #0a3871;
                                color: white;
                                border: 1px solid white;
                            }
                        
                            button.desencriptar:hover {
                                background-color: #0a3871;
                                color: white;
                                border: white;
                            }
                            button.desencriptar:hover ~ button.encriptar{
                                background-color: white;
                                border: 1px solid #0a3871;
                                color: #0a3871;
                               
                            }


.caja2{
   
    background-color: white;   
    width: 400px;       
    height: 815px/*944px*/;
    border-radius: 32px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    /*box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);*/
    
    
}

.textarea2{
    display: flex;
    background-color: #F3F5FC;
    width: 336px;
    height: 80%;
    /*margin: 32px 131px auto;*/   
}

        .fraseEncriptada{
            flex-basis: 100%;
            background-image: url(imagenes/Muñeco.png);
            background-repeat: no-repeat;
            background-position: center center;   
            font-size: 1.5em;
            border: none;
            margin: 0;
            padding: 0;
            height: 100%;
           

            resize: none;
            line-height: 150%;
        }

        .fraseEncriptada:focus{
            outline: none; /* que  no resalte la caja del textarea*/
        }

.hpCaja{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    background-color: #ffffff;
    width: 336px;
    height: auto;
    position: absolute;
    top:540px;
    z-index: 1;   
}

        .hTres{
            text-align: center;
            font-size: 2vw;
            font-weight: bold;
        }

        .parrafo{
            text-align: center;
            padding-top: 10px;
            font-size: 1.2vw;
        }

.btnCopiar{
    display: flex;
    justify-content: center;

   
    background-color: white;
    width: 336px;
    height: 67px;
    position: absolute;
    top: 764px/*893px*/;   
}

        .copiarTexto{
            width: 328px;
            height: 67px;

            font-size: 1.5em;
            border: 1px solid #0a3871;
            border-radius: 24px;
            color: #0a3871;
            cursor: pointer; 
        }

footer{
    position: fixed;
    bottom: 0;
    background-color: #0a3871;
    width: 100%;
    height: 20px;
}    
    
   

footer{
    text-align: center;
    height: auto;
    z-index: 10;
    
}
                .piePagina{ 
                    
                    /*width: 375px;*/
                    height: 18px;                
                   font-size: 1em;
                   color: white;
                   font-weight: bold;
                    
                }



@media (max-width: 1440px) {
    body{
    background-color: #F3F5FC;
    }  
    main{
        width:80%;        
    } 

    .caja1{
        width: 55%;
        margin-right: 2%;
        box-sizing: border-box;        
    }
    .textarea1{
        width: 90%;
        height: 70%;
        margin: 0 auto;
    }
    .botones{
        width: 100%;        
    }
    .caja2{
        width: 38%;
        margin-right: 2%;
        box-sizing: border-box;
    } 
    .textarea2{
        width: 81%;
    }
    .hpCaja{
        width: 24.5%;
    }
    .btnCopiar{
        width: 24.5%;
    }
}

@media (max-width: 1024px) {
    body{
        background-color: #F3F5FC;
            
    }
    main{
        width: 100%;
        flex-direction: row; 
    }
    .caja1{
        width: 55%;
    }
    .textarea1{
        width: 90%;
        height: 70%;
        margin: 0 auto;
    }
    .info{
        font-size: 1.5vw;
    }

    .botones{
        width: 100%;    
    }
    .textarea2{
        width: 94%;
        margin-top: 20px;
    }
    .hpCaja{
        width: 32%;
    }
    .caja2{
        width: 35%;
    }
    .btnCopiar{
        width: 35%;
    }
    

}

@media (max-width: 768px) {
    body{
    background-color: #F3F5FC;
    z-index: 1;
    }
    main{
        flex-direction: column;
    }
    .caja1{
       
        width: 87%;
        margin-top: 1px;
        background-color: white;
        height: 740px;
    }
                                                    .textarea1{
                                                        height: 480px;
                                                    }
                                                    .informacion{
                                                        top: 620px;
                                                        background-color: white;
                                                    }
                                                    .info::first-letter{                                                        
                                                        font-size: 3vw;
                                                    }

                                                    .botones{
                                                        top: 660px;
                                                        background-color: white;
                                                    }
       
    .caja2{
                                                    position: absolute;
        width: 90%;
        border-radius: 36px;

                                                       height:260px /*642px*/;
                                                       top: 855px;
    } 
    .textarea2{
        width: 81%;
        height: 80%;
        margin-top: 0;
    }
    .fraseEncriptada{
        background-image: none;
    }

    .hpCaja{
        top: /*1200*/71px;
        width: 70%;
    } 
    .hTres{
        font-size: 4vw;
    }
    .parrafo{
        font-size: 3.2vw;
    }
    .btnCopiar{
        width: 60%;
        top: 195px;
    } 
    /*footer{
        
        position: fixed;
        bottom:0;
        width: 100%;
    } */
    
}

@media (max-width: 480px) {
    body{
    background-color: #F3F5FC;
    }
    .caja1{
        height: 560px;
    }
                .textarea1{
                    height: 370px;
                }

    .informacion{
        top: 370px;
    }
    .info::first-letter{                                                        
        font-size: 5vw;
    }
    .info{
        font-size: 2.5vw;
    }
    .botones{
        display: flex;
        flex-direction: column;
        height: 158px;
        top: 395px;
    }
            .caja2{
                top: 640px;
            }
            .textarea2{
                height: 70%;
            }
           
    .encriptar{
        width: 100%;
    }
    .desencriptar{
        width: 100%;    
    }

    .hpCaja{
        
        top:70px;
    }
    .parrafo{
        font-size: 0.8em;
    }
        
}

@media (max-width: 375px) {
    body{
    background-color: #F3F5FC;
    }
    .informacion{
        top: 370px;
      
    }
    .info{
        font-size: 3vw;
    }
    .botones{
        height: 158px;
        top: 390px;
    }
    .caja2{
        top:625px;
    }
    .textarea2{
        margin-top: auto;
    }
    .fraseEncriptada{
        width: 250px;
    }
   .hpCaja{
    width: 70%;
    top: 60px;
   }
   .hTres{
        font-size: 7vw;
   }
   .parrafo{
        font-size: 6vw;
   }   

   .btnCopiar{
    top:220px;
    width: 100%;
   }
}
